.App {
  @apply text-center bg-[url("../src/assets/weather.jpg")] w-screen h-screen bg-cover bg-no-repeat;
}

/* .App-input {
  @apply border border-gray-200 border-solid rounded-2xl p-20;
} */

/* @utility app-input {
  border-radius: 20px;
  padding: 10px;
  border: #282c34 1px solid;
} */
